<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--ExecutionType options: local, hub, browserstack-->
    <add key="ExecutionType" value="local" />
    <add key="BaseUrl" value="http://vm-asc-rsm-merc.ascent.com.mt:7000" />
    <add key="LoginUrl" value="_layouts/15/RSM.ConnectPlus/Login.aspx?" />
    <add key="LandingUrl" value="Pages/Landing.aspx" />
    <add key="ValidUserEmail" value="newuser@rsm.com.mt" />
    <add key="ValidUserPassword" value="Rsm0001!" />
    <add key="InvalidUserEmail" value="rsmadmin@ascent.eu" />
    <add key="InvalidUserPassword" value="Test*()123" />



    <add key="Username" />
  </appSettings>
  </configuration>